<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./dialogue.css')}}">
{% block dialogue_list %} 
<script>
    const dialogue_list = [
        "Obi-Wan... you have saved up money enough.",
        "Not enough to buy a ship.",
        "But enough to think about investing in fixed deposits and interests.",
        "Pick a bank now we shall."]
</script>

{% endblock %}

    <script>


        function checkDialogue(word) {
            return word == document.getElementById("character_says").innerHTML;
        }

        function nextDialogue() {
            let current_index = dialogue_list.findIndex(checkDialogue);
            if (current_index != (dialogue_list.length - 1)) {
                document.getElementById("character_says").innerHTML = dialogue_list[current_index + 1]
            }
            else {
                window.location.href = "L2question";
            }
        }
        function previousDialogue() {
            let current_index = dialogue_list.findIndex(checkDialogue);
            if (current_index != 0) {
                document.getElementById("character_says").innerHTML = dialogue_list[current_index - 1]
            }
        }
        function skipDialogue() {
            window.location.href = "L2question";
        
        }
        // console.log(document.getElementById("character_says").innertext)
        // document.getElementById("character_says").innertext = dialogue_list[0]

    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="frame">

        <div class="character_sprite">
            <img src="../static/images/Yoda_TPM_RotS.png">
            
        </div>

        <div class="wrapper1">
            <div class="text_bubble">

                <!-- the character's dialogue -->
                <span id="character_says"></span>
                <script>
                    document.getElementById("character_says").innerHTML = dialogue_list[0]
                </script>

            </div>
            <div class="wrapper2">
                <div class="button_div">
                    <button id="skip" class="button" onclick="skipDialogue()">Skip</button>
                    <button id="next_button" class="button" onclick="nextDialogue()">Next</button>
                    <button id="previous_button" class="button" onclick="previousDialogue()">Previous</button>
                </div>
            </div>
        </div>

    </div>
</body>

